@{
    Layout = "_SiteLayout";
}

<partial name="_HeaderPartial" />
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2022 - TourTheWorld - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>

<toaster-container toaster-options="{'time-out': 2000, 'position-class': 'toast-top-center'}"></toaster-container>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
