<!DOCTYPE html>
<html lang="en" ng-app="bad.main.module">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TourTheWorld</title>
    @* External Libraries *@
    <link href="~/src/app/ext/modules/site/custom-lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/src/lib/font-awesome/font-awesome.css" rel="stylesheet">
    <link href="~/src/lib/bootstrap-social/bootstrap-social.css" rel="stylesheet" />
    <link href="~/src/lib/ui-bootstrap4/ui-bootstrap-csp.css" rel="stylesheet" />
    <link href="~/src/lib/angularjs-toaster/toaster.css" rel="stylesheet" />
    <link href="~/src/lib/cropperjs/cropper.min.css" rel="stylesheet" />
    <link href="~/src/lib/@@fullcalendar/core/main.css" rel="stylesheet" />
    <link href="~/src/lib/@@fullcalendar/daygrid/main.css" rel="stylesheet" />
    <link href="~/src/lib/@@fullcalendar/timegrid/main.css" rel="stylesheet" />
    <link href="~/src/app/ext/modules/site/custom-lib/angularjs-bootstrap-datetimepicker/css/datetimepicker.css" rel="stylesheet" />
    <link href="~/src/lib/angular-bootstrap-colorpicker/colorpicker.css" rel="stylesheet" />
    <link href="~/src/lib/videogular/themes/default/videogular.css" rel="stylesheet" />
    <link href="~/src/lib/slick-carousel/slick.css" rel="stylesheet" />
    <link href="~/src/lib/slick-carousel/slick-theme.css" rel="stylesheet" />


    @* Custom *@
    <link href="~/src/app/ext/modules/site/custom-lib/glyphicon-to-font-awesome/glyphicon-to-font-awesome.css" rel="stylesheet" />
    <link href="~/src/app/ext/modules/site/custom-lib/ng-image-gallery/ng-image-gallery.min.css" rel="stylesheet" />
    <link href="~/src/app/ext/modules/site/site.css" rel="stylesheet" />

    @* site component styles *@
    <link href="~/src/app/ext/modules/site/components/gallery/gallery.component.css" rel="stylesheet" />

    @* main component styles *@
    <link href="~/src/app/int/components/tourlist/tourlist.component.css" rel="stylesheet" />
    <link href="~/src/app/int/components/tourlistitem/tourlistitem.component.css" rel="stylesheet" />
    <link href="~/src/app/int/components/tourdetailsform/tourdetailsform.component.css" rel="stylesheet" />


    @* For ng-cloak to work effectively, angular.js must be loaded in the header section. But jquery must be loaded first
        so we're laoding jquery in the header as well *@
    <script src="~/src/lib/jquery/jquery.js"></script>
    <script src="~/src/lib/angular/angular.js"></script>
</head>
<body ng-cloak ng-controller="badAppController as app">
    @RenderBody()
    <script src="~/src/app/ext/modules/site/scripts/window.tbc.js"></script>
    <script type="text/javascript">

        window.tbc.logClientException = function (message, errorMsg, url, errorCode, stackTrace, lineNo, column) {

            try {
                if (!window.tbc.userPlatform) {
                    var result = bowser.getParser(window.navigator.userAgent);
                    window.tbc.userPlatform = {
                        browser: result.parsedResult.browser.name + ' ' + result.parsedResult.browser.version,
                        os: result.parsedResult.os.name + ' ' + result.parsedResult.os.versionName
                    };
                }
            }
            catch (err) {
                window.tbc.userPlatform = {};
            }
            finally {
                //return $.post(window.tbc.clientSettings.loggingServiceAddress, {
                //    message: message,
                //    errorMessage: errorMsg,
                //    url: url,
                //    errorCode: errorCode,
                //    lineNo: lineNo,
                //    column: column,
                //    stack: stackTrace,
                //    loggedBy: window.tbc.authentication ? window.tbc.authentication.userId : null,
                //    browser: window.tbc.userPlatform.browser,
                //    os: window.tbc.userPlatform.os
                //});
            }

        }
    </script>

    <script src="~/src/app/ext/modules/site/scripts/js-error-handler.js"></script>

    @* Extensions *@
    <script src="~/src/app/ext/modules/site/scripts/lib-extensions/js-extension.js"></script>
    <script src="~/src/app/ext/modules/site/scripts/lib-extensions/array-extension.js"></script>

    @*Third Party*@
    <environment include="Development">
        <script src="~/src/lib/bowser/bundled.js"></script>
        <script src="~/src/lib/hammerjs/hammer.js"></script>
        <script src="~/src/lib/moment/moment.js"></script>
        <script src="~/src/lib/bootstrap/bootstrap.bundle.js"></script>
        <script src="~/src/lib/cropperjs/cropper.min.js"></script>
        <script src="~/src/app/ext/modules/site/scripts/lib-extensions/angular-extension.js"></script>
        <script src="~/src/lib/angular-agility/angular-agility.min.js"></script>
        <script src="~/src/lib/angular-inview/angular-inview.js"></script>
        <script src="~/src/lib/angular-ui-router/angular-ui-router.js"></script>
        <script src="~/src/lib/angular-local-storage/angular-local-storage.js"></script>
        <script src="~/src/app/ext/modules/site/scripts/lib-extensions/angular-sanitize-custom.js"></script>
        <script src="~/src/lib/angular-animate/angular-animate.js"></script>
        <script src="~/src/lib/angular-touch/angular-touch.js"></script>
        <script src="~/src/lib/ng-infinite-scroll/ng-infinite-scroll.min.js"></script>
        <script src="~/src/lib/slick-carousel/slick.min.js"></script>
        <script src="~/src/lib/angular-slick-carousel/angular-slick.js"></script>
        <script src="https://maps.google.com/maps/api/js?key=AIzaSyAnDAeNwkSgk3L6AnE1IB2VjXw6LabhKgA&libraries=placeses,visualization,drawing,geometry,places"></script>
        <script src="~/src/app/ext/modules/site/custom-lib/markerclusterer/markerclusterer.js"></script>
        <script src="~/src/lib/ngmap/ng-map.js"></script>
        <script src="~/src/lib/@@fullcalendar/core/main.js"></script>
        <script src="~/src/lib/@@fullcalendar/interaction/main.js"></script>
        <script src="~/src/lib/@@fullcalendar/daygrid/main.js"></script>
        <script src="~/src/lib/@@fullcalendar/timegrid/main.js"></script>
        <script src="~/src/lib/ui-bootstrap4/ui-bootstrap.js"></script>
        <script src="~/src/lib/ui-bootstrap4/ui-bootstrap-tpls.js"></script>
        <script src="~/src/app/ext/modules/site/custom-lib/angularjs-bootstrap-datetimepicker/js/datetimepicker.js"></script>
        <script src="~/src/app/ext/modules/site/custom-lib/angularjs-bootstrap-datetimepicker/js/datetimepicker.templates.js"></script>
        <script src="~/src/lib/angularjs-toaster/toaster.js"></script>
        <script src="~/src/lib/angular-bootstrap-colorpicker/bootstrap-colorpicker-module.js"></script>
        <script src="~/src/app/ext/modules/site/custom-lib/ng-image-gallery/ng-image-gallery.js"></script>
        <script src="~/src/app/ext/modules/site/scripts/lib-extensions/angular-wysiwyg-custom.js"></script>
        <script src="~/src/lib/ng-file-upload/ng-file-upload.js"></script>
        <script src="~/src/lib/videogular/videogular/videogular.js"></script>
        <script src="~/src/lib/videogular-controls/vg-controls.js"></script>
        <script src="~/src/lib/videogular-buffering/vg-buffering.js"></script>
        <script src="~/src/lib/videogular-overlay-play/vg-overlay-play.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/src/lib/bowser/bundled.js"></script>
        <script src="~/src/lib/hammerjs/hammer.js"></script>
        <script src="~/src/lib/moment/moment.js"></script>
        <script src="~/src/lib/bootstrap/bootstrap.bundle.js"></script>
        <script src="~/src/lib/cropperjs/cropper.min.js"></script>
        <script src="~/src/app/ext/modules/site/scripts/lib-extensions/angular-extension.js"></script>
        <script src="~/src/lib/angular-agility/angular-agility.min.js"></script>
        <script src="~/src/lib/angular-inview/angular-inview.js"></script>
        <script src="~/src/lib/angular-ui-router/angular-ui-router.js"></script>
        <script src="~/src/lib/angular-local-storage/angular-local-storage.js"></script>
        <script src="~/src/app/ext/modules/site/scripts/lib-extensions/angular-sanitize-custom.js"></script>
        <script src="~/src/lib/angular-animate/angular-animate.js"></script>
        <script src="~/src/lib/angular-touch/angular-touch.js"></script>
        <script src="~/src/lib/ng-infinite-scroll/ng-infinite-scroll.min.js"></script>
        <script src="~/src/lib/slick-carousel/slick.min.js"></script>
        <script src="~/src/lib/angular-slick-carousel/angular-slick.js"></script>
        <script src="https://maps.google.com/maps/api/js?key=AIzaSyCQwPkj7HcSjORBr6z8ZGf56e4uXNPHUuY&libraries=placeses,visualization,drawing,geometry,places"></script>
        <script src="~/src/app/ext/modules/site/custom-lib/markerclusterer/markerclusterer.js"></script>
        <script src="~/src/lib/ngmap/ng-map.js"></script>
        <script src="~/src/lib/@@fullcalendar/core/main.js"></script>
        <script src="~/src/lib/@@fullcalendar/interaction/main.js"></script>
        <script src="~/src/lib/@@fullcalendar/daygrid/main.js"></script>
        <script src="~/src/lib/@@fullcalendar/timegrid/main.js"></script>
        <script src="~/src/lib/ui-bootstrap4/ui-bootstrap.js"></script>
        <script src="~/src/lib/ui-bootstrap4/ui-bootstrap-tpls.js"></script>
        <script src="~/src/app/ext/modules/site/custom-lib/angularjs-bootstrap-datetimepicker/js/datetimepicker.js"></script>
        <script src="~/src/app/ext/modules/site/custom-lib/angularjs-bootstrap-datetimepicker/js/datetimepicker.templates.js"></script>
        <script src="~/src/lib/angularjs-toaster/toaster.js"></script>
        <script src="~/src/lib/angular-bootstrap-colorpicker/bootstrap-colorpicker-module.js"></script>
        <script src="~/src/app/ext/modules/site/custom-lib/ng-image-gallery/ng-image-gallery.js"></script>
        <script src="~/src/app/ext/modules/site/scripts/lib-extensions/angular-wysiwyg-custom.js"></script>
        <script src="~/src/lib/ng-file-upload/ng-file-upload.js"></script>
        <script src="~/src/lib/videogular/videogular/videogular.js"></script>
        <script src="~/src/lib/videogular-controls/vg-controls.js"></script>
        <script src="~/src/lib/videogular-buffering/vg-buffering.js"></script>
        <script src="~/src/lib/videogular-overlay-play/vg-overlay-play.js"></script>
    </environment>

    <script src="~/src/app/ext/modules/site/site-module.js"></script>
    <script src="~/src/app/ext/modules/site/site-controller.js"></script>

    @* site components *@
    <script src="~/src/app/ext/modules/site/components/date/date.component.js"></script>
    <script src="~/src/app/ext/modules/site/components/gallery/gallery.component.js"></script>

    @* site services *@
    <script src="~/src/app/ext/modules/site/services/toast.service.js"></script>
    <script src="~/src/app/ext/modules/site/services/settings-service.js"></script>
    <script src="~/src/app/ext/modules/site/services/i18n-service.js"></script>
    <script src="~/src/app/ext/modules/site/services/common.service.js"></script>
    <script src="~/src/app/ext/modules/site/services/modal-service.js"></script>
    <script src="~/src/app/ext/modules/site/services/http-service.js"></script>
    <script src="~/src/app/ext/modules/site/services/datetime.service.js"></script>
    <script src="~/src/app/ext/modules/site/services/wizard.service.js"></script>
    <script src="~/src/app/ext/modules/site/services/files.service.js"></script>

    @* site filters *@
    <script src="~/src/app/ext/modules/site/filters/currency.filter.js"></script>
    <script src="~/src/app/ext/modules/site/filters/i18n-filter.js"></script>

    <script src="~/src/app/ext/modules/app/app.module.js"></script>
    <script src="~/src/app/ext/modules/app/app.controller.js"></script>

    <script src="~/src/app/int/main.module.js"></script>

    @* main services *@
    <script src="~/src/app/int/services/tours.service.js"></script>

    @* main components *@
    <script src="~/src/app/int/components/tourlist/tourlist.component.js"></script>
    <script src="~/src/app/int/components/tourlistitem/tourlistitem.component.js"></script>
    <script src="~/src/app/int/components/tourdetailsform/tourdetailsform.component.js"></script>
    <script src="~/src/app/int/components/tourmedialist/tourmedialist.component.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
