@model TourTheWorld.Models.TourModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_AppLayout.cshtml";
}

<div class="row">
    <div class="col-12 offset-md-1 col-md-10 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <bad-tourdetailsform></bad-tourdetailsform>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
