@model TourTheWorld.Models.TourModel

@{
    ViewData["Title"] = Model.Title;
    Layout = "~/Views/Shared/_AppLayout.cshtml";
}

<div class="row">
    <div class="col-12">
        <bad-tourdetails tour="app.model"></bad-tourdetails>
    </div>
</div>
