@import '../../../../../../lib/bootstrap/_functions.scss';
@import '../../../../../../lib/bootstrap/_variables.scss';
@import '../../../../../../lib/bootstrap/_breakpoints.scss';

bad-gallery {

    @include media-breakpoint-down(xl) {
        bad-image,
        .ng-image-gallery .ng-image-gallery-thumbnails .thumb {
            height: 150px !important;
            width: 20% !important;
        }
    }

    @include media-breakpoint-down(lg) {
        bad-image,
        .ng-image-gallery .ng-image-gallery-thumbnails .thumb {
            height: 150px !important;
            width: 25% !important;
        }
    }

    @include media-breakpoint-down(md) {
        bad-image,
        .ng-image-gallery .ng-image-gallery-thumbnails .thumb {
            height: 100px !important;
            width: 33.3333% !important;
        }
    }
}
