.overlay-target {
    position: relative !important;
    min-height: 200px; /*don't let it collapse too small, could hide loading icon, etc.*/
    box-sizing: border-box !important;
}

.overlay-blocker {
    position: absolute;
    z-index: 99; /*this is being changed from 999 to 99 to coordinate with kendo menu drop down for grids*/
    height: 100%;
    width: 100%;
    text-align: center;
    top: 0;
    left: 0;
    box-sizing: border-box !important;
}

.overlay-target .covered-content {
    overflow: hidden !important;
}

.overlay-content { /* gray well used on defult overlays eq:nodes */
    height: 100%;
    margin-bottom: 0px;
    background-color: rgba(0,0,0,0.9);
    color: #ffffff;
}

    .overlay-content div {
        position: relative;
        top: 48%; /* better for the "eye"*/
        transform: translateY(-48%);
    }
