drbbly-typeahead {
    display:inline-block !important;
    height: auto !important;

    & > * {
        float: left;
    }

    input.typeahead-text-input {
        border: none !important;
        min-width: 150px;
        outline: none !important;
    }

    .uib-typeahead-match .suggestion-icon {
        border-radius: 50%;
        width: 1.25em !important;
        height: 1.25em !important;
    }

    .selected-item {
        display: inline-block;
        background-color: #ddd;

        img {
            border-radius: 50%;
            width: 1.25em !important;
            height: 1.25em !important;
        }
    }
}
